openapi: 3.0.3
info:
  title: The Reep Register
  description: |
    The football entity register. Resolve player, team, and coach IDs across
    Transfermarkt, FBref, Sofascore, Understat, WhoScored, and 30+ data providers.

    435,000+ entities with cross-provider ID mappings sourced from Wikidata
    and custom verified sources. Updated weekly.

    People who are both players and coaches (e.g. Pep Guardiola) have separate
    records with type-specific provider IDs. Use the `type` parameter to filter.

    All data is open source: https://github.com/withqwerty/reep
  version: 1.1.0
  contact:
    name: withqwerty
    url: https://github.com/withqwerty/reep

servers:
  - url: https://the-reep-register.p.rapidapi.com
    description: RapidAPI (requires API key)

paths:
  /search:
    get:
      operationId: searchEntities
      summary: Search entities by name
      description: |
        Full-text search across players, teams, and coaches by name or alias.
        Uses prefix matching with BM25 relevance ranking (e.g. "Cole Palm" matches "Cole Palmer").
        Diacritics-insensitive ("Muller" matches "Müller").
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          example: Cole Palmer
          description: Name to search for (prefix matching on name and aliases)
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [player, team, coach]
          description: Filter by entity type
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Maximum results to return
      responses:
        '200':
          description: Search results ranked by relevance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              example:
                results:
                  - qid: Q99760796
                    type: player
                    name_en: Cole Palmer
                    aliases_en: Cole Jermaine Palmer
                    date_of_birth: "2002-05-06"
                    nationality: United Kingdom
                    position: attacking midfielder
                    external_ids:
                      transfermarkt: "568177"
                      fbref: dc7f8a28
                      sofascore: "982780"
                      soccerway: "525801"
                count: 1

  /lookup:
    get:
      operationId: lookupByQid
      summary: Look up entity by Wikidata QID
      description: |
        Exact lookup by Wikidata QID. Returns full entity with all provider IDs and bio data.
        A QID may have multiple records if the person is both a player and coach (e.g. Pep Guardiola).
        Use the type parameter to filter to a specific role.
      parameters:
        - name: qid
          in: query
          required: true
          schema:
            type: string
          example: Q99760796
          description: Wikidata QID
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [player, team, coach]
          description: Filter by entity type (returns all types if omitted)
      responses:
        '200':
          description: Entity details (may contain multiple records for dual-role people)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'

  /resolve:
    get:
      operationId: resolveProviderId
      summary: Resolve a provider ID to all other IDs
      description: |
        Given a provider name and ID, find the entity and return all cross-provider IDs.
        This is the core use case: "I have a Transfermarkt ID, what's the FBref ID?"
      parameters:
        - name: provider
          in: query
          required: true
          schema:
            type: string
            enum:
              - transfermarkt
              - transfermarkt_manager
              - fbref
              - fbref_verified
              - soccerway
              - sofascore
              - flashscore
              - opta
              - premier_league
              - 11v11
              - espn
              - national_football_teams
              - worldfootball
              - soccerbase
              - kicker
              - uefa
              - lequipe
              - fff_fr
              - serie_a
              - besoccer
              - footballdatabase_eu
              - eu_football_info
              - hugman
              - german_fa
              - statmuse_pl
              - sofifa
              - soccerdonna
              - dongqiudi
              - playmakerstats
              - understat
              - whoscored
              - clubelo
              - sportmonks
              - api_football
              - fotmob
          example: transfermarkt
          description: Source provider name
        - name: id
          in: query
          required: true
          schema:
            type: string
          example: "568177"
          description: ID from the source provider
      responses:
        '200':
          description: Resolved entity with all provider IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'

  /batch/lookup:
    post:
      operationId: batchLookup
      summary: Look up multiple QIDs in one request
      description: |
        Batch lookup by Wikidata QIDs. Returns all matching entities.
        A single QID may return multiple records if the person is both a player and coach.
        Results are flattened into a single array — use the qid and type fields to correlate.
        Maximum 100 QIDs per request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [qids]
              properties:
                qids:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  description: Array of Wikidata QIDs
            example:
              qids: ["Q99760796", "Q11893"]
      responses:
        '200':
          description: Batch lookup results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchLookupResponse'

  /batch/resolve:
    post:
      operationId: batchResolve
      summary: Resolve multiple provider IDs in one request
      description: |
        Batch resolve provider IDs to entities. Maximum 100 items per request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [provider, id]
                    properties:
                      provider:
                        type: string
                      id:
                        type: string
                  maxItems: 100
            example:
              items:
                - provider: transfermarkt
                  id: "568177"
                - provider: fbref
                  id: dea698d9
      responses:
        '200':
          description: Batch resolve results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResolveResponse'

  /stats:
    get:
      operationId: getStats
      summary: Database statistics
      description: Returns entity counts by type and ID coverage by provider.
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

components:
  schemas:
    Entity:
      type: object
      properties:
        qid:
          type: string
          description: Wikidata QID
        type:
          type: string
          enum: [player, team, coach]
        name_en:
          type: string
        aliases_en:
          type: string
          nullable: true
        full_name:
          type: string
          nullable: true
        date_of_birth:
          type: string
          nullable: true
        nationality:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
          description: For players only
        current_team_qid:
          type: string
          nullable: true
          description: Wikidata QID of current team (players only)
        height_cm:
          type: number
          nullable: true
        country:
          type: string
          nullable: true
          description: For teams only
        founded:
          type: string
          nullable: true
          description: For teams only
        stadium:
          type: string
          nullable: true
          description: For teams only
        external_ids:
          type: object
          additionalProperties:
            type: string
          description: Map of provider name to external ID

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        count:
          type: integer

    LookupResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        count:
          type: integer

    BatchLookupResponse:
      type: object
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Entity'
              - type: object
                properties:
                  qid:
                    type: string
                  error:
                    type: string
                    enum: [not_found]
        count:
          type: integer

    BatchResolveResponse:
      type: object
      properties:
        results:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Entity'
              - type: object
                properties:
                  provider:
                    type: string
                  id:
                    type: string
                  error:
                    type: string
                    enum: [not_found, missing_fields]
        count:
          type: integer

    StatsResponse:
      type: object
      properties:
        total_entities:
          type: integer
        by_type:
          type: object
          additionalProperties:
            type: integer
        by_provider:
          type: object
          additionalProperties:
            type: integer
        custom_ids_count:
          type: integer
